.footer {
    margin-top: 5rem;
    padding: 3rem 0;
    background: #050505;
    border-top: 1px solid #2a2a2a;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.footer__menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer__menu a {
    color: #bdbdbd;
    text-decoration: none;
    transition: 0.2s;
}

.footer__menu a:hover {
    color: white;
}

.footer__socials {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.footer__socials a {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer__socials a:hover {
    transform: translateY(-3px);
    opacity: 0.75;
}

.footer__copyright {
    margin-top: 2rem;
    text-align: center;
    color: #7d7d7d;
    font-size: 0.9rem;
}